			

		<!doctype html>
		<html lang="en">
		  <head>
		    <!-- Required meta tags -->
		    <meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		    <!-- Bootstrap CSS -->
		    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		    <title>Article</title>
		  </head>
		  <body>
		  	<div class="container">
			  <nav role="navigation">
			  	<div class="col-xl">
			    <h1>My Blog</h1>
    				<div class = article>
    					{% if articles %}
							<ul class="nav navbar-nav">
							    {% for article in articles %}
							        <li class="class="list-group-item"><a href="/articles/{{ article.id }}/">{{ article.title }}</a></li>
							    {% endfor %}
							</ul>
						{% else %}
						<div class="alert alert-primary" role="alert">
			  				No articles are available.
						</div>
						{% endif %}
    				</div>
    			</div>
			 </nav>
			 <div class="pagination d-flex justify-content-end">
			    <span class="step-links">
			        {% if articles.has_previous %}
			            <a href="?page={{ articles.previous_page_number }}">Previous</a>
			        {% endif %}

			        <span class="current">
			            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
			        </span>

			        {% if articles.has_next %}
			            <a href="?page={{ articles.next_page_number }}">Next</a>
			        {% endif %}
			    </span>
			</div>
			</div>
		  

			
			

		    <!-- Optional JavaScript -->
		    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
		    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		  </body>
		</html>