{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}


<h1>{{ article.title }}</h1>
<p>{{ article.author }}</p>
<p>{{ article.body }}</p>
<p>{{ article.pub_date }}</p>

<form method="POST" >{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
</form>
<br />
<br />
        {% for comment in article.comment_set.all %}
{% if comment.is_published%}
        
            <div>
                <strong>{{ comment.pub_date }} {{ comment.author_name }}</strong>
                <p>{{ comment.content|linebreaks }}</p>
            </div>
            {% else %}
        <p>No comments here yet</p>
{% endif %}
        {% endfor %}
    
        

